body{
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    box-shadow: 0px 0px 15px gray;
}

h2 {
    /*position: absolute;*/
    text-align: center;
    width: 100%;
<<<<<<< HEAD
    margin-top: 5%;
=======
>>>>>>> 96650d024d496e16b9084078982eb1cf472fc7ca
}

.app-dropdown {
    width: 100%;
    text-align: center;
    /*position: absolute;*/

}


.app-likert {
    position: absolute;
    text-align: center;
    width: 100%;
}

button{
    width: 100px;
<<<<<<< HEAD
    height: 15%;
    font-size: large;
    float: right;
    margin-bottom: 10%;
    
}
.app-radiobutton{
    width: 100%;
    text-align: center;
    
}

=======
    height: 40px;
    font-size: large;
    
}
>>>>>>> 96650d024d496e16b9084078982eb1cf472fc7ca
